.visualizator{
    display: flex;
    height: 550px;
    flex-direction: column;
}
.items{
    display: flex;
    align-items: flex-end;
    height: 500px;
}
.element{
    /* background-color: #c48cf1; */
    background-color: #c8c8c8;
    margin: 1px;
    height: 500px;
    
}
.small{
    width: 120px;
}
.green{
    background-color: #38b000;
}
.red{
    background-color: #e01e37;
}